<nav class="navbar sticky-top  navbar-expand-lg  navbar-dark bg-dark ">
    <a class="navbar-brand" routerLink='/'>
Angular Work
</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTop">
      <span class="navbar-toggler-icon"></span>

</button>
    <div class="collapse navbar-collapse" id="navTop">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item"><a routerLink='/Home' class="nav-link " routerLinkActive="active">
              Home
            </a></li>
            <li class="nav-item"><a routerLink='/Products' class="nav-link" routerLinkActive="active">
      Products
    </a></li>
            <li class="nav-item"><a routerLink='/Services' class="nav-link" routerLinkActive="active">
      Services
    </a></li>
            <li class="nav-item"><a routerLink='/Gallery' class="nav-link" routerLinkActive="active">
              Gallery
    </a></li>
            <li class="nav-item"><a routerLink='/About' class="nav-link" routerLinkActive="active">About US</a></li>
            <li class="nav-item"><a routerLink='/Contact' class="nav-link" routerLinkActive="active">
              Contact US
            </a></li>
        </ul>

    </div>

</nav>
