<input type="text" class="" #photo (keyup.enter)='createData(photo)'>

<ul>
    <li *ngFor='let p of photos  | slice : o : 20'>

        <a routerLink="/Product/{{p.id}}">{{p.title}}</a>
    </li>
</ul>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" appDropdown>
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>