<section class="Home">
    <div class="home-container bg-parllex">

        <div class="home-content-box text-uppercase text-center">
            <div class="home-content-box-inner">
                <h3 class="home-heading text-light">Welcome To <br> Angular 8!</h3>
                <a class="btn btn-lg btn-border-0 btn-outline-light  " routerLink='/About'>View more</a>
            </div>
        </div>
    </div>
</section>

<section class="Service">
    <div class="Service-container bg-white">
        <h3 class="main-heading text-uppercase text-center pt-5 pb-2">Services</h3>
        <div class="heading-devider heading-devider-center"></div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="p-2 bg-white service-content-inner text-center">
                        <i class=" fa fa-desktop fa-3x"></i>
                        <h4 class="service-heading">Software Development</h4>
                        <p class="service-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus adipisci amet ut esse iure recusandae labore vero.</p>

                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="p-2 bg-white service-content-inner text-center">
                        <i class=" fa fa-desktop fa-3x"></i>
                        <h4 class="service-heading">Software Development</h4>
                        <p class="service-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus adipisci amet ut esse iure recusandae labore vero.</p>

                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="p-2 bg-white service-content-inner text-center">
                        <i class=" fa fa-desktop fa-3x"></i>
                        <h4 class="service-heading">Software Development</h4>
                        <p class="service-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus adipisci amet ut esse iure recusandae labore vero.</p>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="p-2 bg-white service-content-inner text-center">
                        <i class=" fa fa-desktop fa-3x"></i>
                        <h4 class="service-heading">Software Development</h4>
                        <p class="service-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus adipisci amet ut esse iure recusandae labore vero.</p>

                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="p-2 bg-white service-content-inner text-center">
                        <i class=" fa fa-desktop fa-3x"></i>
                        <h4 class="service-heading">Software Development</h4>
                        <p class="service-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus adipisci amet ut esse iure recusandae labore vero.</p>

                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="p-2 bg-white service-content-inner text-center">
                        <i class=" fa fa-desktop fa-3x"></i>
                        <h4 class="service-heading">Software Development</h4>
                        <p class="service-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus adipisci amet ut esse iure recusandae labore vero.</p>

                    </div>
                </div>
            </div>
            <div class="text-center p-3">
                <a class="btn btn-outline-primary text-uppercase btn-border-0 btn-lg" routerLink='/Services'> View More</a>
            </div>

        </div>
    </div>

</section>

<section class="About pt-4 bg-light">
    <div class="about-container ">
        <div class="about-img bg-parllex ml-auto"></div>
        <div class="about-container-box">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12">

                        <h3 class="main-heading text-uppercase pt-5 pb-2">About us</h3>
                        <div class="heading-devider "></div>
                        <p class="text-justify mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis adipisci quisquam molestias. Molestiae, ducimus! Dolor quo deleniti animi corrupti, vel asperiores atque facere, tempora explicabo quis nobis, numquam ratione
                            distinctio. </p>

                        <div>
                            <button class="btn btn-outline-primary btn-lg text-uppercase btn-border-0 " routerLink='/About' type="button">About US</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</section>